#headsection {
  display: flex;
  align-items: center;
}

#headsection img {
  max-width: 70px;
  margin-right: 1%;
}

#admin-section {
  display: grid;
  grid-template-columns: 25% 75%;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
  margin: 2%;
}

.grid {
  display: grid;
  grid-template-columns: 35% 65%;
  place-items: center;
  padding: 1%;
}

.image {
  max-width: 100px;
  grid-template-columns: 1/2;
}

.text {
  grid-template-columns: 2/3;
  background-color: rgba(240, 248, 255, 0.766);
}

h3 {
  font-size: 1rem;
  margin: 1%;
  font-family: "Libre Baskerville", serif;
}

h1 {
  font-family: "Libre Baskerville", serif;
  font-size: 2.2rem;
}
